<HTML>
<head>
<!-- Bootstrap -->
<link type="text/css" rel="stylesheet"	th:href="@{/css/bootstrap.min.css}" />
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
body {
    background: #dedede;
}
.page-wrap {
    min-height: 100vh;
}
</style>

</head>
<body>

<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h1 style="font-size:72px;" class="display-1 d-block">Access Denied</h1>
                <div class="mb-4 lead">You can not access this resource.</div>
            </div>
        </div>
    </div>
</div>

</body>
</HTML>
