<HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Bootstrap -->
<link type="text/css" rel="stylesheet"	th:href="@{/css/bootstrap.min.css}" />
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
<!--
body {
	padding-top: 90px;
}

.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align: center;
}

.panel-login>.panel-heading a {
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.panel-login>.panel-heading a.active {
	color: #D10024;
	font-size: 18px;
	display:block;
	margin:0px auto;
}

.panel-login>.panel-heading hr {
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"], .panel-login input[type="email"],
	.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.panel-login input:hover, .panel-login input:focus {
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}

.btn-login {
	background-color: #D10024;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #D10024;
}

.btn-login:hover, .btn-login:focus {
	color: #fff;
	background-color: #D10024;
	border-color: #D10024;
}

.forgot-password {
	text-decoration: underline;
	color: #888;
}

.forgot-password:hover, .forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #D10024;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #D10024;
}

.btn-register:hover, .btn-register:focus {
	color: #fff;
	background-color: #D10024;
	border-color: #D10024;
	
	
}

.form-lable{
	margin-left:.5em;
	color: #333;
	}
	
	.text-primary-project{
	color: #D10024;}
-->
</style>

<script type="text/javascript">
<!--
	$(function() {

		$('#login-form-link').click(function(e) {
			$("#login-form").delay(100).fadeIn(100);
			$("#register-form").fadeOut(100);
			$('#register-form-link').removeClass('active');
			$(this).addClass('active');
			e.preventDefault()
		});
		$('#register-form-link').click(function(e) {
			$("#register-form").delay(100).fadeIn(100);
			$("#login-form").fadeOut(100);
			$('#login-form-link').removeClass('active');
			$(this).addClass('active');
			e.preventDefault();
		});

	});
//-->
</script>
<Title>Edit House</Title>
</head>
<body>

<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-12">
								<a  class="active" >Edit House</a>
							</div>
						</div>
						<hr>
						
					</div>
					<div class="panel-body">
						<div class="row"> 
							<div class="col-lg-12">
								
								<form id="register-form" th:action="@{/edithome}" enctype="multipart/form-data" th:method="POST" th:object="${EditedHouse}" role="form" style="display: block;">
									<div class="form-group">
										<p class="form-lable">Rooms</p>
										<input  type="hidden"   tabindex="1" class="form-control" placeholder="Rooms" th:field="*{ID}">	
										<input type="number"   tabindex="1" class="form-control" placeholder="Rooms" th:field="*{rooms}">										
										<span class="text-danger" th:if="${#fields.hasErrors('rooms')}" th:errors="*{rooms}"></span>
									</div>
									<div class="form-group">
										<p class="form-lable">Price</p>
										<input type="number"   tabindex="1" class="form-control" placeholder="Price" th:field="*{price}">										
										<span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
									</div>
									
									
									<div class="form-group">
										<p class="form-lable">Area</p>
										<input type="text"   tabindex="1" class="form-control" placeholder="Area" th:field="*{address.arround}">										
										<span class="text-danger" th:if="${#fields.hasErrors('address.arround')}" th:errors="*{address.arround}"></span>
									</div>
									<div class="form-group">
										<p class="form-lable">Image</p>
										<input type="file"   tabindex="1" name="file" class="form-control" >										
										
									</div>
									<div class="form-group">
									<p class="form-lable">Type</p>
										<select  class="form-control" th:field="*{type}">
											<option th:each="type : ${HomeTypes}" th:text="${type}" th:value="${type}"></option>
										</select>										
										<span class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span>
									</div>
									<div class="form-group">
									<p class="form-lable">Sub City</p>
										<select  class="form-control" th:field="*{address.subCity}">
											<option th:each="subCity : ${SubCities}" th:text="${subCity}" th:value="${subCity}"></option>
										</select>										
										<span class="text-danger" th:if="${#fields.hasErrors('address.subCity')}" th:errors="*{address.subCity}"></span>
									</div>
									<div class="form-group">
									<p class="form-lable">Description</p>
										<textarea type="number"  class="form-control" placeholder="Description" th:field="*{description}"></textarea>										
										<span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
									</div>
									
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Save">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</HTML>
