<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<title>House Rental System</title>

<!-- Google font -->
<link
	th:href="@{/https://fonts.googleapis.com/css?family=Montserrat:400,500,700}"
	rel="stylesheet">

<!-- Bootstrap -->
<link type="text/css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />

<!-- Slick -->
<link type="text/css" rel="stylesheet" th:href="@{/css/slick.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/css/slick-theme.css}" />

<!-- nouislider -->
<link type="text/css" rel="stylesheet"
	th:href="@{/css/nouislider.min.css}" />

<!-- Font Awesome Icon -->
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">

<!-- Custom stlylesheet -->
<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
 		  <script th:src="@{https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js}"></script>
 		  <script th:src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
 		<![endif]-->

</head>
<body>
	<!-- HEADER -->
	<header>
		<!-- TOP HEADER -->
		<div id="top-header">
			<div class="container">
				<ul class="header-links pull-left">
					<li><a th:href="@{#}"><i class="fa fa-phone"></i>
							+021-95-51-84</a></li>
					<li><a th:href="@{#}"><i class="fa fa-envelope-o"></i>
							email@email.com</a></li>
					<li><a th:href="@{#}"><i class="fa fa-map-marker"></i>
							1734 Stonecoal Road</a></li>
				</ul>
				<ul class="header-links pull-right">
				<li sec:authorize="hasAnyAuthority('TENANT','LANDLORD')"><a href="/login"><i class="fa fa-user-o"></i><span th:text="${LoggedInUser.getFullName()}"></span></a></li>
					
					<li sec:authorize="hasAuthority('LANDLORD')"><a
						th:href="@{/landlordhomes}"><i class="fa fa-dollar"></i>
							Houses</a></li>
					<li sec:authorize="hasAuthority('LANDLORD')"><a
						th:href="@{/addhome}"><i class="fa fa-dollar"></i> Add</a></li>
					<li sec:authorize="hasAnyAuthority('TENANT','LANDLORD')"><a
						th:href="@{/rents}"><i class="fa fa-dollar"></i> Rents</a></li>
					<li sec:authorize="hasAnyAuthority('TENANT','LANDLORD')"><a
						href="/logout"><i class="fa fa-user-o"></i>Logout</a></li>
					<li sec:authorize="!hasAnyAuthority('TENANT','LANDLORD')"><a
						href="/register"><i class="fa fa-user-o"></i>Register</a></li>
					<li sec:authorize="!hasAnyAuthority('TENANT','LANDLORD')"><a
						href="/login"><i class="fa fa-user-o"></i>Login</a></li>
				</ul>
			</div>
		</div>
		<!-- /TOP HEADER -->

		<!-- MAIN HEADER -->
		<div id="header">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- LOGO -->
					<div class="col-md-3">
						<div class="header-logo">
							<a th:href="@{#}" class="logo"> </a>
						</div>
					</div>
					<!-- /LOGO -->

					<!-- SEARCH BAR -->
					<div class="col-md-6">
						<div class="header-search">
							<form th:action="@{/searchhomes}" th:method="get">
								<select class="input-select">
									<option value="0">All Categories</option>
									<option value="1">Category 01</option>
									<option value="1">Category 02</option>
								</select> <input class="input" name="keyword" placeholder="Search here">
								<button class="search-btn" type="submit">Search</button>
							</form>
						</div>
					</div>
					<!-- /SEARCH BAR -->

					<!-- ACCOUNT -->
					<div class="col-md-3 clearfix">
						<div class="header-ctn">
							<!-- Wishlist -->
							<div>
								<a th:href="@{#}"> <i class="fa fa-heart-o"></i> <span>Your
										Wishlist</span>
									<div class="qty">2</div>
								</a>
							</div>
							<!-- /Wishlist -->

							<!-- Cart -->
							<div class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown"
									aria-expanded="true"> <i class="fa fa-shopping-cart"></i> <span>Your
										Cart</span>
									<div class="qty">3</div>
								</a>
								<div class="cart-dropdown">
									<div class="cart-list">
										<div class="product-widget">
											<div class="product-img">
												<img th:src="@{/img/product00.png}" alt="">
											</div>
											<div class="product-body">
												<h3 class="product-name">
													<a th:href="@{#}">product name goes here</a>
												</h3>
												<h4 class="product-price">
													<span class="qty">1x</span>$980.00
												</h4>
											</div>
											<button class="delete">
												<i class="fa fa-close"></i>
											</button>
										</div>

										<div class="product-widget">
											<div class="product-img">
												<img th:src="@{/img/product00.png}" alt="">
											</div>
											<div class="product-body">
												<h3 class="product-name">
													<a th:href="@{#}">product name goes here</a>
												</h3>
												<h4 class="product-price">
													<span class="qty">3x</span>$980.00
												</h4>
											</div>
											<button class="delete">
												<i class="fa fa-close"></i>
											</button>
										</div>
									</div>
									<div class="cart-summary">
										<small>3 Item(s) selected</small>
										<h5>SUBTOTAL: $2940.00</h5>
									</div>
									<div class="cart-btns">
										<a th:href="@{#}">View Cart</a> <a th:href="@{#}">Checkout
											<i class="fa fa-arrow-circle-right"></i>
										</a>
									</div>
								</div>
							</div>
							<!-- /Cart -->

							<!-- Menu Toogle -->
							<div class="menu-toggle">
								<a th:href="@{#}"> <i class="fa fa-bars"></i> <span>Menu</span>
								</a>
							</div>
							<!-- /Menu Toogle -->
						</div>
					</div>
					<!-- /ACCOUNT -->
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- /MAIN HEADER -->
	</header>
	<!-- /HEADER -->

	<!-- NAVIGATION -->
	<nav id="navigation">
		<!-- container -->
		<div class="container">
			<!-- responsive-nav -->
			<div id="responsive-nav">
				<!-- NAV -->
				<ul class="main-nav nav navbar-nav">
					<li class="active"><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{#}">Hot Deals</a></li>
					<li><a th:href="@{#}">One Bedroom</a></li>
					<li><a th:href="@{#}">Two Bedrooms</a></li>
					<li><a th:href="@{#}">Three Bedrooms</a></li>
					<li><a th:href="@{#}">Office</a></li>
					<li><a th:href="@{#}">Warehouse</a></li>
				</ul>
				<!-- /NAV -->
			</div>
			<!-- /responsive-nav -->
		</div>
		<!-- /container -->
	</nav>
	<!-- /NAVIGATION -->




		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
				
					

	<table class="table table-strip" sec:authorize="hasAnyAuthority('LANDLORD')" th:if="${not #lists.isEmpty(Rents)}">
		<thead class="thead-dark">
			<tr>
				
				<th scope="col">Tenant</th>
				<th scope="col">House</th>
				<th scope="col">From</th>
				<th scope="col">To</th>
			</tr>
		</thead>
		<tbody>
		
			<tr  th:each="rent : ${Rents}">
			<form th:method="post" th:action="@{'/acceptrent/'+${rent.ID}}">
				
				<td th:text="${rent.getTenant().getFullName()}">Mark Ericson</td>
				<td><a th:href="@{'/viewhome/'+${rent.getHouse().getID()}}" ><span th:text="${rent.getHouse().getAddress().getSubCity()}"></span> - <span th:text="${rent.getHouse().getAddress().getArround()}"></span></a></td>
				<td><input type="date" name="from" th:value="${rent.get_from()}"></td>
				<td><input type="date" name="to" th:value="${rent.get_to()}"></td>
				<td><input type="submit" class="btn btn-success" value="Save">
				</form>
			</tr>
			
		</tbody>
	</table>

	<table class="table table-strip" sec:authorize="hasAnyAuthority('TENANT')" th:if="${not #lists.isEmpty(Rents)}">
		<thead class="thead-dark">
			<tr>
				
				<th scope="col">Owner</th>
				<th scope="col">House</th>
				<th scope="col">Price</th>
			</tr>
		</thead>
		<tbody>
		
			<tr  th:each="rent : ${Rents}">
			
				
				<td th:text="${rent.getHouse().getOwner().getFullName()}">Mark Ericson</td>
				<td><a th:href="@{'/viewhome/'+${rent.getHouse().getID()}}" ><span th:text="${rent.getHouse().getAddress().getSubCity()}"></span> - <span th:text="${rent.getHouse().getAddress().getArround()}"></span></a></td>
				<td th:text="${rent.getHouse().price}"></td>
			</tr>
			
		</tbody>
	</table>
					<div class="col-lg-12" style="display:block; margin:0px auto;"><h1  th:if="${#lists.isEmpty(Rents)}" style="display:block; margin:0px auto;">You don't have any rent history yet!</h1>
				</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
		

	<!-- FOOTER -->
	<footer id="footer">
		<!-- top footer -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">About Us</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
								sed do eiusmod tempor incididunt ut.</p>
							<ul class="footer-links">
								<li><a th:href="@{#}"><i class="fa fa-map-marker"></i>1734
										Stonecoal Road</a></li>
								<li><a th:href="@{#}"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
								<li><a th:href="@{#}"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Categories</h3>
							<ul class="footer-links">
								<li><a th:href="@{#}">One Bedroom</a>
								<li><a th:href="@{#}">Two Bedroom</a>
								<li><a th:href="@{#}">Three Bedroom</a>
							</ul>
						</div>
					</div>

					<div class="clearfix visible-xs"></div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Information</h3>
							<ul class="footer-links">
								<li><a th:href="@{#}">About Us</a></li>
								<li><a th:href="@{#}">Contact Us</a></li>
								<li><a th:href="@{#}">Privacy Policy</a></li>
								<li><a th:href="@{#}">Terms & Conditions</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Service</h3>
							<ul class="footer-links">
								<li><a th:href="@{#}">My Account</a></li>
								<li><a th:href="@{#}">View Cart</a></li>
								<li><a th:href="@{#}">Wishlist</a></li>
								<li><a th:href="@{#}">Help</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /top footer -->

		<!-- bottom footer -->
		<div id="bottom-footer" class="section">
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12 text-center">

						<span class="copyright"> <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;<script>
								document.write(new Date().getFullYear());
							</script>
							All rights reserved
						</span>


					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bottom footer -->
	</footer>
	<!-- /FOOTER -->

	<!-- jQuery Plugins -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/slick.min.js}"></script>
	<script th:src="@{/js/nouislider.min.js}"></script>
	<script th:src="@{/js/jquery.zoom.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>

</body>
</html>
